body {
  background-color: rgba(133, 200, 197, 0.41);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Shadows Into Light Two', cursive;
}

h1 {
  font-size: 45px;
  text-align: center;
}

#convert {
  margin-left: 45%;
}

#header {
  margin-top: 5%;
}

#footer {
  margin-bottom: 200px;
}

#htmlOutput {
  min-height: 410px;
  background-color: snow;
  border: 1px solid #CCC;
  padding: 2%;
}

.input-group {
  padding-bottom: 10px;
}
